<!DOCTYPE html>
<html>
    <head>
        <title>Caro leaderboard</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <script src="/caro/players.js"></script>
        <link href="/caro/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
		<div class="leaderboard">
			<div class="head">
				<i class="fas fa-crown"></i>
				<h1>CARO LEADERBOARD - 19TCLC_DT4</h1>
			</div>
			<div style="height: 90vh;overflow: scroll;" class="body">
				<ol id="points">
					<li>
						<mark>Jerry Wood</mark>
						<small>948</small>
					</li>
				</ol>
			</div>
		</div>
	</div>
        <script>
            const token = prompt("Input the password")
            const ws = new WebSocket(`ws://${location.hostname}:8000/ws/${token}`)
            ws.onmessage = (event) => {
                const data = JSON.parse(event.data)
                let point = {}
                players.forEach(item => {
                    point[item] = 0
                })
                data.forEach(item => {
                    point[item[0]]++
                    point[item[1]]--
                })
                point = Object.entries(point).sort(([,a],[,b]) => b - a)

                console.log(point)
                let html = ""
                point.forEach(item => {
                    html += `<li><mark>${item[0]}</mark><small>${item[1]}</small></li>`
                })
                document.getElementById("points").innerHTML = html
            }
            ws.onclose = () => {
                alert("Disconnect to server socket")
            }
        </script>
    </body>
</html>
